:root {
  /* Background color */
  --BackgroundColor: #333333;
  --BackgroundColorLight: #808080;

  /* Font color */
  --fontColor: #d3d3d3;
  --fontColorLight: #F9F9F9;

  /* Exemple colors */
  --primary: #009ddf; // Important buttons
  --primaryLight: #c2edff;
  --primaryDark: #046c99;

  --secondary: #40c6ca; // Columns
  --secondaryDark: #3eb2b6;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--fontColor);
  padding: 0;
  margin: 0;
  background-color: var(--BackgroundColorLight);
}

button {
  background-color: var(--BackgroundColor);
  color: #d3d3d3;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;

  &:hover {
    background-color: var(--primaryDark);
  }
}
